---
import {
  NEWSLETTER_URL,
  YOUTUBE_URL,
  TWITTER_URL,
  GITHUB_URL,
} from '../constants'
import ExternalLink from './external-link.astro'
import Logo from './logo.astro'

const footerLinks = [
  [
    {
      label: 'About',
      url: '/about',
      isExternal: false,
    },
    {
      label: 'Uses',
      url: '/uses',
      isExternal: false,
    },
    {
      label: 'Colophon',
      url: '/colophon',
      isExternal: false,
    },
  ],
  [
    {
      label: 'Blog',
      url: '/blog/all/1',
      isExternal: false,
    },
    {
      label: 'Talks',
      url: '/talks',
      isExternal: false,
    },
    {
      label: 'Videos',
      url: '/videos',
      isExternal: false,
    },
  ],
  [
    {
      label: 'YouTube',
      url: YOUTUBE_URL,
      isExternal: true,
    },
    {
      label: 'Twitter',
      url: TWITTER_URL,
      isExternal: true,
    },
    {
      label: 'GitHub',
      url: GITHUB_URL,
      isExternal: true,
    },
  ],
]
---

<footer class='footer'>
  <hr />

  <div class='footer--contents'>
    <div class='footer--logo'>
      <Logo width={29} height={27} />
    </div>

    <div class='footer--links'>
      <div class='footer--links-grid'>
        {
          footerLinks.map((group) => (
            <div class='footer--links-group'>
              {group.map(({ isExternal, url, label }) =>
                isExternal ? (
                  <ExternalLink href={url}>{label}</ExternalLink>
                ) : (
                  <a href={url}>{label}</a>
                ),
              )}
            </div>
          ))
        }
      </div>
      <p class='footer--copyright'>
        © {new Date().getFullYear()} Lazar Nikolov
      </p>
    </div>

    <div class='footer--newsletter'>
      <strong class='footer--newsletter-title'>Weekly newsletter</strong>
      <p>
        Get free content and updates from me about web development, content
        creation, and other interesting things!
      </p>
      <ExternalLink className='subscribe-link' href={NEWSLETTER_URL}>
        Subscribe!
      </ExternalLink>
    </div>
  </div>
</footer>
<style>
  footer {
    margin-top: 80px;
  }

  .footer--contents {
    display: flex;
    column-gap: 60px;
    padding: 40px 0px;
  }

  .footer--logo {
    flex-shrink: 0;
  }

  .footer--links {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  .footer--links-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 28px;
  }

  .footer--links-group {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    width: max-content;
  }

  .footer--copyright {
    font-size: var(--fontSizes-xs);
  }

  .footer--newsletter {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  .footer--newsletter-title {
    font-size: var(--fontSizes-2xl);
  }
  .footer--newsletter .subscribe-link {
    display: flex;
    width: min-content;
    padding: 4px 6px;
    background: var(--colors-red);
    color: var(--colors-cosmic-latte);
  }
  .footer--newsletter .subscribe-link:hover {
    color: var(--colors-red);
    background: var(--colors-background);
  }

  @media (prefers-color-scheme: dark) {
    .footer--newsletter .subscribe-link {
      background: var(--colors-yellow);
      color: var(--colors-rich-black);
    }

    .footer--newsletter .subscribe-link:hover {
      color: var(--colors-yellow);
      background: var(--colors-background);
    }
  }

  @media (max-width: 768px) {
    .footer--contents {
      flex-direction: column;
      padding: 18px;
      row-gap: 32px;
    }

    .footer--links {
      order: 3;
    }
  }

  @media (max-width: 320px) {
    .footer--links-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
