---
import type { CollectionEntry } from 'astro:content'
import { format } from 'timeago.js'
import ExternalLink from './external-link.astro'

interface Props {
  post: CollectionEntry<'blog'> & {
    readingTime: number
  }
}

const { post } = Astro.props

const published = format(post.data.date)
---

<div class='post'>
  {
    post.data.isExternal ? (
      <article>
        <ExternalLink className='post--title' href={post.data.externalUrl}>
          {post.data.title}
        </ExternalLink>
      </article>
    ) : (
      <article>
        <a class='post--title' href={`/blog/${post.slug}`} transition:name="post-title">
          {post.data.title}
        </a>
      </article>
    )
  }
  <div class='post--details'>
    <p>{published}</p>
    <p class='divider'>•</p>
    <b>{post.data.tags.join(', ')}</b>
    <p class='divider'>•</p>
    {
      post.data.isExternal ? (
        <p>{post.data.externalLabel}</p>
      ) : (
        <p>{post.readingTime} min read</p>
      )
    }
  </div>
</div>

<style>
  .post {
    display: flex;
    flex-direction: column;
    padding: 24px;
    row-gap: 16px;
    border: 1px solid var(--colors-foreground);
    position: relative;
  }

  :global(.post--title) {
    font-size: var(--fontSizes-2xl);
    white-space: inherit;
    z-index: 1;
  }

  :global(.post--title::after) {
    content: ' ';
    position: absolute;
    inset: 0;
  }

  .post--details {
    display: flex;
    column-gap: 12px;
  }

  .post--details p {
    font-style: italic;
  }

  @media (max-width: 768px) {
    .post--details {
      flex-direction: column;
      row-gap: 8px;
    }

    .post--details .divider {
      display: none;
    }
  }
</style>
